@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    border-radius: 3px;
    border: 1px black solid;
    background-color: white;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    cursor: pointer;
}

/* button:hover {
    scale: 1.1;
} */