.main-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    /* margin-bottom: 2rem; */
}

.productcard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px #adb0b1 solid; */
    height: 25rem;
    width: 20rem;
}

.productcard img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.productcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.productcard h2 {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.productcard p {
    font-size: 0.9rem;
}