.main-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.productcard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25rem;
    width: 20rem;
}

.productcard img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    cursor: pointer;
}

.productcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.productcard h2 {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
}

.productcard p {
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .productcard {
        height: 22rem;
        width: 17rem;
    }
    .productcard h2 {
        font-size: 1rem;
    }
    .productcard p {
        font-size: 0.8rem;
    }
  }
