.productlist-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}

.productlist-main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.category-info h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.category-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10rem;
    font-size: 1rem;
}

.productlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0 15rem;
  } 

.productlist li {
    list-style-type: none;
}
