.productdetail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 78vh;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.image-container {
 flex: 1;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}

.image-container img {
    width: 25rem;
    height: 35rem
}

.arrow-icons {
    width: 24rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
}

.arrows {
    font-size: 2rem;
    cursor: pointer;
}

.detail-container {
    flex: 1;
    height: 25rem;
    gap: 1rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.detail-container h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 2rem;
}

#description {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

#price {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

#instock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #809F8A;
}

#instock svg {
    font-size: 1.3rem;
}

.motion-button-disabled {
    cursor: not-allowed;
}


  @media screen and (max-width: 1297px) {
    .productdetail-wrapper {
        flex-direction: column;
        height: 80vh;
    }
    .image-container img {
        width: 20rem;
        height: 27rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .arrow-icons {
        width: 20rem; 
    }
    .detail-container {
        gap: 0.2rem;
    }
    #price, #description {
        margin-bottom: 1rem;
    }
    .button-container-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .productdetail-slider {
        margin-top: 6rem;
    }
  }

  @media screen and (max-width: 760px) {
    .productdetail-slider {
        margin-top: 7rem;
    }
  }

  @media screen and (max-width: 689px) {
    .productdetail-slider {
        margin-top: 8rem;
    }
    .detail-container {
        height: 15rem;
        width: 90vw;
        display: flex;
        justify-content: center;
        margin: 0;
    }
  }

  @media screen and (max-width: 586px) {
    .productdetail-slider {
        margin-top: 9rem;
    }
  }

  @media screen and (max-width: 390px) {
    #price {
        margin-bottom: 1rem;
    }
    .productdetail-slider {
        margin-top: 10rem;
    }
    .detail-container h2 {
        margin-top: 2rem;
    }
  }