.drawer-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 1rem;
    /* background-color: pink; */
  }
  
  .drawer-info img {
    width: 5rem;
    /* border: 2px orange solid; */
  }
  
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    gap: 0.2rem;
    border-bottom: 1px #f2f2f2 solid;
    /* background-color: green; */
  }
  
  #title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1.4rem;
  }
  
  .cart-buttons {
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .circle-buttons button {
    border: none;
    font-size: 1.2rem;
    padding: 0;
    margin-right: 10px;
    color: rgb(84, 84, 84);
  }

  .trash-button {
    border: none;
    font-size: 1.2rem;
    padding: 0;
    margin-right: 10px;
    color: rgb(219, 107, 95);
  }
  
  .ant-drawer-close svg {
    color: black;
    font-size: 1.5rem;
  }
  
  .ant-drawer-header-title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .total-price p {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .checkout-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  