.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 80vh;
    width: 100vw;
    margin-top: 6rem;
    overflow: hidden;
    position: relative;
    /* background-color: orange; */
}

.hero-section img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    /* object-position: center top;  */
    position: absolute;
}

.arrows-icons {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
}

.arrows {
    height: 2rem;
    width: 2rem;
    background: rgba(255, 255, 255, 0.398);
    border-radius: 50%;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.484);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrows:hover {
    transform: scale(1.3);
}